html{
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}


body.home{
    background-color: #b4d;
    color: white;
}

body.second{
    background-color: #b4d455;
    color: white;
}

body.third{
    background-color: #b62155;
    color: white;
}

